article{
    margin-top: 70px;
    max-width: 70%;
}

article a{
    color: rgb(109, 179, 223);
}

article a:visited{
    color: rgb(109, 179, 223);
}

#note-link{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    color: #bf1313;
    text-transform: uppercase;
}

#note-title *{
    max-width: 950px;
    margin: 0;
}

#note-title h1{
    font-size: 65px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#note-title h2{
    font-size: 30px;
}

#game-splash{
    border-radius: 1%;
}

#post-information{
    font-size: 18px;
}

.red-text{
    color: #bf1313;
}

#post-information span{
    margin-left: 50px;
    margin-top: 20px;
}

.author-portrait{
    position: absolute;
    border-radius: 50%;
    top: 920px;
}

#blizzard-lawsuit{
    max-width: 860px;
}

#review{
    max-width: 700px;
}

.question{
    color:rgb(110, 137, 185);
    font-size: 14px;
    margin-left: 20%;
    margin-bottom: 50px;
}

.question-buttons{
    margin-left: 12%;
    align-content: center;
}

.question-buttons button{
    margin-left: 20px;
    width: 100px;
    height: 50px;
    background-color: rgb(58, 72, 101);
    color: rgb(237, 238, 241);
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid rgb(78, 97, 135);
    border-radius: 5%;
    letter-spacing: 2px;
}

.image-gallery *{
    margin: 0;
    margin-bottom: 5px;
}

.image-gallery p{
    margin-bottom: 10px;
}

.image {
    position: relative;
    width: 100%;
    height: 100%;
}

.image img {
    width: 100%;
    vertical-align: top;
}

.image:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
}

.image:hover:after {
    opacity: 0.3;
}

.quote{
    color: #A81010;
    font-size: 60px;
    font-weight: bold;
}

.quote-separator{
    position: relative;
    display: inline-block;
    width: 90%;
    height: 3px;
    height: 1px;
    background: #A81010;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
}


.video-container{
    margin: 0;
}

.youtube-video {
    width: 100%;
    height: 350px;
}

#favorite-class{
    background-color: rgb(18, 19, 20);
    border: 1px solid rgb(225, 229, 236);
    border-radius: 4px;
    width: 550px;
}

#favorite-class *{
    margin-left: 30px;
}

#favorite-class input, label{
    margin-bottom: 40px;
    font-size: 20px;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgb(52, 53, 55);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid rgb(151, 151, 151);
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #bf1313;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

#favorite-class button{
    width: 230px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-weight:bold;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5%;
}

.answer{
    color: white;
    background-color: #BF1313;
}

.results{
    color: rgb(110, 137, 185);
    background-color: rgb(18, 19, 20);
}

#feedback-title{
    margin-left: 10%;
}


#game-info{
    position: relative;
    padding: 2px 16px 20px;
    background-color: rgb(37, 38, 39);
    color: rgb(225, 229, 236);
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 25px;
    border-radius: 24px;
    max-width: 900%;
}

#game-info p{
    font-size: 14px;
    max-width: 300px;
}

#game-details{
    margin-left: 30%;
}

#esrb{
    position: absolute;
    left: 300px;
    max-width: 30px;
}

#esrb-text{
    font-size: 12px;
}

.game-details-bold{
    font-size: 17px;
    font-weight: bold;
}

.game-img img{
    position: absolute;
    max-width: 210px;
    background-color: rgb(37, 38, 39);
    color: rgb(225, 229, 236);
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 3px;
    border-radius: 24px;
}

#development-info{
    position: absolute;
    left: 620px;
    top: 40px;
}

#release-info{
    position: absolute;
    margin-left: 20px;
    left: 770px;
    top: 40px;
}

#release-info p{
    font-size: 14px;
}

.separator{
    width: 100%;
    height: 3px;
    height: 1px;
    background: rgb(225, 229, 236);
    margin-top: 20px;
    margin-bottom: 20px;
}